:root {
    --primary-color: brown;
}

.formUrl {
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    margin-inline: 2rem;
    gap: 20px;
    transition: 1s;
}

.inputUrl * {
    padding: 10px;
    font-size: medium;
    border: none;
}

.inputUrl button {
    color: white;
    background-color: var(--primary-color);
    font-weight: 700;
}

.inputUrl input {
    outline: none;
}

.inputUrl{
    width: 50%;
    display: grid;
    grid-template-columns: 100fr 1fr;
}

h1 {
text-shadow: 1px 1px 5px  rgb(0, 0, 0);
    color: brown;
    margin: 0;
}