footer {
    position: fixed;
    bottom: 0;
    box-shadow: 1px 1px 10px 5px rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    color: #fff;
    width: 100vw;
}