header{
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 10px 5px rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1b1b1b;
    color: #fff;
    height: 10vh;

  }