body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(32, 32, 32);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
